.lanyard-wrapper {
  position: relative;
  z-index: 0;

  width: 100%;
  height: 620px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(1.25);
  transform-origin: center;
}


/* MOBILE */

@media (max-width: 768px) {
  .lanyard-wrapper {
    width: 100%;
    height: 420px;

    transform: scale(1);
  }
}


/* SMALL MOBILE */

@media (max-width: 480px) {
  .lanyard-wrapper {
    height: 400px;

    transform: scale(1);
  }
}